.title {
    background-color: #ff4c68;
}

h1 {
    font-family: "Montserrat" black;
    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.5;
    color: white;
}
h2 {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}
.container-fluid {
    padding: 3% 15%;
}

/******************NAV BAR******************/
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
}

/******************DOWNLOAD BUTTONS*****************/
.btn {
    margin: 5% 3% 5% 0;
}
/******************Title image*********************/
.title-image {
    width: 60%;
    transform: rotate(25deg);
}
/***************First Section********************/
h3 {
    font-weight: 1.5rem;
    font-family: "Montserrat";
}
p {
    color: #8f8f8f;
}
.row {
    text-align: center;
}
.feature-box {
    text-align: center;
    padding: 5%;
}
.icon {
    color: #ef8172;
    padding-bottom: 20px;
}
#features {
    padding: 7% 15%;
}
/*************TESTIMONIAL SECTIONS***************/
#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/***********Press****************/
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}